{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Edit Title</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Inter&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>

<h1>EDIT TITLE</h1>

<section>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save Changes</button>
  </form>
</section>

</body>
</html>